@typeparam T

<div @ref="draggableRef"
     class="jm-draggable"
     draggable="@Draggable.ToString().ToLower()"
     @ondragstart="HandleDragStart"
     @ondragend="HandleDragEnd">

    @ChildContent
</div>
