@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits BootstrapComponentBase

<button class="@CssClass" type="button" aria-expanded="@(Visible ? "true" : "false")" disabled="@Disabled"
        style="@Style" @attributes="AdditionalAttributes" @onclick="HandleClick">

    @ChildContent
</button>
