@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits BootstrapComponentBase

<li>
    <button class="@CssClass" type="button" style="@Style" @attributes="AdditionalAttributes" @onmousedown="HandleMouseDown">
        @ChildContent
    </button>
</li>
