@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits DropdownComponent

<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes" tabindex="-1" @onfocusout="HandleFocusOut">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
