@using Jimmys20.BlazorComponents.GridLayout.Internal
@namespace Jimmys20.BlazorComponents
@typeparam T

<div class="jm-container @Class"
     style="display: grid;
            grid-template-columns: @string.Join(" ", _columns.Select(c => c.Width));
            grid-template-rows: @string.Join(" ", _rows.Select(r => r.Height));
            column-gap: @ColumnGap;
            row-gap: @RowGap;">

    <CascadingValue Value="this" IsFixed>
        @Columns
        @Rows

        @for (var i = 0; i < Capacity; i++)
        {
            var item = Items.FirstOrDefault(x => IndexField.Invoke(x) == i);

            <JmGridLayoutDropzone Index="i" T="T">
                @if (!EqualityComparer<T>.Default.Equals(item, default))
                {
                    <JmGridLayoutDraggable Item="item">
                        @ItemTemplate(item)
                    </JmGridLayoutDraggable>
                }
                else if (EmptyTemplate != null)
                {
                    @EmptyTemplate
                }
            </JmGridLayoutDropzone>
        }
    </CascadingValue>
</div>
