@page "/bootstrap/badges"

<h1>Badges</h1>

<div class="row g-3 mb-3">
    <div class="col-12">
        <JmBadge Color="Color.Primary">Primary</JmBadge>
        <JmBadge Color="Color.Secondary">Secondary</JmBadge>
        <JmBadge Color="Color.Success">Success</JmBadge>
        <JmBadge Color="Color.Danger">Danger</JmBadge>
        <JmBadge Color="Color.Warning">Warning</JmBadge>
        <JmBadge Color="Color.Info">Info</JmBadge>
        <JmBadge Color="Color.Light">Light</JmBadge>
        <JmBadge Color="Color.Dark">Dark</JmBadge>
    </div>

    <div class="col-12">
        <JmBadge Pill Color="Color.Primary">Primary</JmBadge>
        <JmBadge Pill Color="Color.Secondary">Secondary</JmBadge>
        <JmBadge Pill Color="Color.Success">Success</JmBadge>
        <JmBadge Pill Color="Color.Danger">Danger</JmBadge>
        <JmBadge Pill Color="Color.Warning">Warning</JmBadge>
        <JmBadge Pill Color="Color.Info">Info</JmBadge>
        <JmBadge Pill Color="Color.Light">Light</JmBadge>
        <JmBadge Pill Color="Color.Dark">Dark</JmBadge>
    </div>
</div>
