@using System.Reflection;
@typeparam T

<div class="dropdown">
    <input class="dropbtn" />

    <div id="myDropdown" class="dropdown-content show">
        @foreach (var item in Data)
        {
            var type = item.GetType();
            var property = type.GetProperty(DisplayItem);
            var value = property.GetValue(item, null);

            <a>@value</a>
        }
    </div>
</div>
