@page "/"

<PageTitle>Index</PageTitle>

<div class="h-100 d-flex flex-column">
    <div class="mb-1">
        <button class="btn btn-primary" @onclick="Add">Add</button>
        <button class="btn btn-primary" @onclick="Move">Move</button>
        <button class="btn btn-primary" @onclick="() =>_isDraggable = !_isDraggable">Toggle draggable</button>
    </div>

    <JmGridLayout T="Customer"
                  Items="_customers"
                  ItemDropped="OnItemDropped"
                  IndexField="@((customer) => customer.Index)"
                  CanDrop="CanDrop"
                  Class="flex-grow-1"
                  ColumnGap="0.25rem"
                  RowGap="0.25rem"
                  Draggable="_isDraggable">

        <Columns>
            @if (_isLarge)
            {
                for (var i = 0; i < 8; i++)
                {
                    <JmGridLayoutColumn Width="minmax(0, 1fr)" />
                }
            }
            else
            {
                <JmGridLayoutColumn Width="minmax(0, 1fr)" />
                <JmGridLayoutColumn Width="minmax(0, 1fr)" />
                <JmGridLayoutColumn Width="minmax(0, 1fr)" />
                <JmGridLayoutColumn Width="minmax(0, 1fr)" />
            }
        </Columns>

        <Rows>
            @if (_isLarge)
            {
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
            }
            else
            {
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
                <JmGridLayoutRow Height="minmax(0, 1fr)" />
            }
        </Rows>

        <ItemTemplate>
            <div class="card" style="height: 100%;">
                <div class="card-header bg-primary text-white">
                    @context.Index
                </div>
                <div class="card-body">
                    <p>@context.Name</p>

                    @if (context.Id == 4)
                    {
                        <p><b>Is not allowed to drop.</b></p>
                    }

                    <button class="btn btn-danger"
                            @onclick="() => Remove(context)">
                        Remove
                    </button>
                </div>
            </div>
        </ItemTemplate>
    </JmGridLayout>

</div>

<MediaQuery Media="@Breakpoints.LargeUp" @bind-Matches="_isLarge" />

@code {
    private const int MaxCapacity = 16;

    private List<Customer> _customers;
    private bool _isLarge;
    private bool _isDraggable = true;
    private Random _random = new();

    protected override void OnInitialized()
    {
        _customers = CustomerService.GetCustomers().ToList();
    }

    private void OnItemDropped(DropEventArgs<Customer> args)
    {
        var droppedCustomer = args.Item;
        var droppedIndex = args.Index;

        var existingCustomer = _customers.FirstOrDefault(c => c.Index == droppedIndex);

        if (existingCustomer != null)
        {
            existingCustomer.Index = droppedCustomer.Index;
        }

        droppedCustomer.Index = droppedIndex;
    }

    private bool CanDrop(Customer customer, int index)
    {
        if (customer.Id == 4 || index % 4 == 3)
        {
            return false;
        }

        return true;
    }

    private void Remove(Customer customer)
    {
        _customers.Remove(customer);
    }

    private void Add()
    {
        var emptyIndex = -1;

        for (var i = 0; i < MaxCapacity; i++)
        {
            var customer = _customers.FirstOrDefault(c => c.Index == i);

            if (customer == null)
            {
                emptyIndex = i;
                break;
            }
        }

        if (emptyIndex == -1) return;

        var id = _random.NextInt64(1000, 2000);

        _customers.Add(new Customer
        {
            Id = id,
            Name = $"New customer {id}",
            Index = emptyIndex
        });
    }

    private void Move()
    {
        if (_customers.Count == MaxCapacity)
        {
            return;
        }

        while (true)
        {
            var index = _random.Next(0, MaxCapacity - 1);

            if (!_customers.Any(c => c.Index == index))
            {
                _customers[0].Index = index;
                break;
            }
        }
    }
}
