@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<JSelect T="Customer"
         DisplayItem="@nameof(Customer.LastName)"
         ValueItem="@nameof(Customer.Id)"
         Data="_customers" />

@code {
    private List<Customer> _customers = new()
    {
        new Customer(1, "Jim", "Mar"),
        new Customer(2, "afa", "eea"),
        new Customer(3, "1e11", "ca"),
        new Customer(100, "aefa", "21e"),
    };

    private class Customer
    {
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }

        public Customer()
        {
        }

        public Customer(int id, string firstName, string lastName)
        {
            Id = id;
            FirstName = firstName;
            LastName = lastName;
        }
    }
}
