@page "/spinningwheel"
@inject IDialogService Dialog

<PageTitle>Spinning wheel</PageTitle>

<h1>Spinning wheel</h1>

<div class="row">
    <div class="col-lg-6">
        <JmSpinningWheel @ref="_spinningWheelRef"
                         Size="600"
                         SpinStarted="OnSpinStarted"
                         SpinCompleted="OnSpinCompleted">

            @for (var i = 0; i < _numberOfSlots; i++)
            {
                <JmSpinningWheelSector Color="@Colors[i % Colors.Length]"
                                       Label="@_slotNames[i % _slotNames.Length]" />
            }
        </JmSpinningWheel>

        <JmButton Color="Color.Primary" Clicked="Spin">Spin</JmButton>
    </div>

    <div class="col-lg-6">
        <JmSpinningWheel Size="300">
            <JmSpinningWheelSector Color="#f82" Label="Winter" />
            <JmSpinningWheelSector Color="#0bf" Label="Autumn" />
            <JmSpinningWheelSector Color="#fb0" Label="Summer" />
            <JmSpinningWheelSector Color="#0fb" Label="Spring" />
        </JmSpinningWheel>
    </div>
</div>

@code {
    //private static readonly string[] Colors = ["#f82", "#0bf", "#fb0", "#0fb", "#b0f", "#f0b", "#bf0"];
    private static readonly string[] Colors =
    [
        "#ffcc01", "#675ca1", "#059dde", "#a7d02a", "#26cda2", "#903288", "#222025", "#e50305", "#eb7008"
    ];

    private JmSpinningWheel _spinningWheelRef;
    private int _numberOfSlots = 18;
    private string[] _slotNames =
    [
        "50", "100", "150", "200", "1000", "500", "550", "600", "650",
    "700", "10", "800", "2000", "60", "995", "500", "10000", "900"
    ];

    private int _numberOfTimes = 5;
    private bool _shouldRandomizeNumberOfSpins = true;

    private async Task Spin()
    {
        await _spinningWheelRef.Spin(_numberOfTimes, _shouldRandomizeNumberOfSpins);
    }

    private void OnSpinStarted()
    {
        Console.WriteLine("Spin started");
    }

    private async Task OnSpinCompleted(string nameOfSelectedSlot)
    {
        //Console.WriteLine($"Spin completed - nameOfSelectedSlot: {nameOfSelectedSlot}");
        await Dialog.Alert($"Spin completed - nameOfSelectedSlot: {nameOfSelectedSlot}");
    }
}
