@namespace Jimmys20.BlazorComponents
@typeparam T

<div @ref="_draggableRef"
     class="jm-draggable"
     draggable="@Draggable.ToString().ToLower()"
     @ondragstart="HandleDragStart"
     @ondragend="HandleDragEnd">

    @ChildContent
</div>
