@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits BootstrapComponentBase

<button type="button" class="@CssClass" disabled="@Disabled" aria-label="Close" style="@Style"
        @attributes="AdditionalAttributes" @onclick="HandleClick"></button>
