@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits BootstrapComponentBase

<CascadingValue Value="this" IsFixed>
    @if (Items != null)
    {
        <ul class="@CssClass" role="tablist" style="@Style" @attributes="AdditionalAttributes">
            @Items
        </ul>
    }

    @if (Content != null)
    {
        <div class="tab-content">
            @Content
        </div>
    }
</CascadingValue>
