@namespace Jimmys20.BlazorComponents.Bootstrap
@inherits BootstrapComponentBase

<CascadingValue Value="this" IsFixed>
    <ul class="@CssClass" role="tablist" style="@Style" @attributes="AdditionalAttributes">
        @Items
    </ul>

    <div class="tab-content">
        @Content
    </div>
</CascadingValue>
